/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(25, 25, 25); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #aeaeae;
    display: block;
    transition: 0.5s;
    font-weight:500;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    margin-top: 5px;
    right: 15px;
    margin-left: 40px;
    width: 30px;
    height: 30px;
  }

 
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	  flex-wrap: wrap;
    
  }

  body {
    font-family: Helvetica, sans-serif;
    background-color: rgba(255, 152, 152, 0.158);
    color: rgb(25, 25, 25);
    margin-top: 100px;
    font-family:'Courier New', Courier, monospace
}

img {
    width: 100%;
}

h1 {
    margin: 15px 0;
    margin-bottom: 0;
}

h2 {
    margin: 0;
    font-weight: 100;
    
}

h3 {
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.card {
    background-color: #f8f6f6;
    border-radius: 15px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    box-shadow: rgba(0,0,0,0.1) 0 10px 10px;
    border: 2px solid #aaa;
    color: rgb(25, 25, 25);
}

.card .avatar {
    width: 100px;
    border-radius: 50%;
    margin-top: -50px; 
    box-shadow: rgba(0,0,0,0.1) 0 10px 10px;
}



.contacts{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contacts li {
    width: 30px;
    display: inline-block;
    padding: 20px 10px;
}

.contacts li a {
  text-decoration: none;
  color: black;
}

.contacts li a i:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

.resume {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.resume li {
  display: inline-block;
}

.resume li a {
  text-decoration: none;
  color: rgb(25, 25, 25);
}

.resume li a:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

#side_open{
  position: fixed;
  left: 0;
  top: 0;
  margin: 5px;
  width: 30px;
  height: 30px;
}

.lowergrey {    
 
  width: 600px;
  height: 400px;
  margin: 0px auto;
  margin-top: 60px;
 
}

.lowergrey p, ul {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  line-height: 27px;

}

.lowergrey ul {
  background-color:  #f8f6f6;
  margin-top:60px;
  margin-right: 200px;
  margin-left: 200px;
  border-radius: 10px;
  border: 2px solid#aaa;
  font-size:x-large;
  padding: 7px;
  color: rgb(25, 25, 25);
  box-shadow: rgba(0,0,0,0.1) 0 10px 10px;
}

.lowergrey ul a i {
  padding-right: 5px;
}

.row{
  display: flex;
}

.column {
  width: 33%;
  padding: 55px;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
  color: rgb(25, 25, 25);
  margin: 20px;
  border-radius: 50px;
  box-shadow: rgba(0,0,0,0.1) 0 15px 15px;
  background-color: #f8f6f6;
  text-align: center;
  font-weight:bolder;
 
}

.containerTab {
  padding: 20px;
  color: rgb(25, 25, 25);
  display: none;
  border-radius: 50px;
  box-shadow: rgba(0,0,0,0.1) 0 15px 15px;
  background-color: #f8f6f6;
  margin: 20px;
  font-size: large;
  font-family: monospace;
  font-weight: lighter;
}

.containerTab h2 {
  font-size: 25px;
  font-weight: bold;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the image */
.containerTab .closebtn {
  float: right;
  color: rgb(25, 25, 25);
  font-size: 35px;
  cursor: pointer;
}


  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-width:1200px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

    .row{display: block; font-size: x-small;}
    .column{font-size:x-small; width: 50%;}
  }